html, body, .login-container {
  height: 100%;
}

.login-container  {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.login-container .row {
  margin: 0 auto;
}

img.laundry-icon {
  position: relative;
  top: 5px;
  margin-right: 2px;
  height: 24px;
  width: 24px;
}

#video {
  width: 100%;
}

.modal-video {
  padding: 0 !important;
}

#instructions {
padding: 0.5em;
position: relative;
top: 0;
background-color: rgba(0, 0, 0, 0.5);
}
